LINE_CHANNEL_SECRET='e22e589cb876ebbfd5c41650d8260a9a'
LINE_CHANNEL_TOKEN='SLN4pP0up4kQ6+f5OSjVABz36+BVvdvPlnnhl9PJM6xPNq9U2pCYOxWEpUu0ADyg9BnrmApI0z8EKHSNlX2o8xRloF9yP8FGoqBjo+GcpF24Fa3ld3mFND2DtaUDOOMegnmMmqnVqEq5R/gqnssV2AdB04t89/1O/w1cDnyilFU='
LINE_USER_ID='U36c2178f6d0147797ff439e54c0add52'
